{% extends "base.html" %}


{% block content %}
    <h1>Sending form for temporary file</h1>
    <form class="form-row" method="post">
        {% csrf_token %}
        <div class="submit-form">
            <label for="file_field">Put your file here (if don't be active on site your file will be automatically
                removed)</label>
            <input type="file" id="file_field">
            <label for="life_time_field">Limit life time of file</label>
            <input type="time" id="life_time_field">
            <input type="submit" value="Submit">
        </div>
    </form>

    <div class="get-file">
        <button class="button">Get file</button>
    </div>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
