{% extends "base.html" %}

{% block content %}
    <h1>File List</h1>

    {% if tempfile_list %}
    <ul>

      {% for file in tempfile_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
        {% if perms.catalog.can_mark_returned %}
          - <a href="{% url 'book_update' book.pk %}">Update</a> | <a href="{% url 'book_delete' book.pk %}">Del</a>
        {% endif %}
      </li>
      {% endfor %}

      <br><br>
      {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'book_create' %}">Put new book</a>
      {% endif %}

    </ul>
    {% else %}
      <p>There are no files.</p>
    {% endif %}       
{% endblock %}
